/*-----------------------------*\
 fonts
\*-----------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*-----------------------------*\
  common styles and utilities
\*-----------------------------*/
body{
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    width:100%;
}
.header-text{
    color:#120E43;
    margin: 20px;
}
.search-button{
    background-color: #03203C;
}
/*--------------------------------*\
  main section design starts here
\*--------------------------------*/

/*--------------------------------*\
  card design starts here
\*--------------------------------*/
.card-background{
    background-color: #B0E0E6;
}
.card-button{
    padding:5px;
    color:white;
    background-color: #708090;
    border-radius: 3px;
    font-size: 1rem;
}






